@font-face {
    font-family: Commons_Regular;
    src: url(../fonts/PS_TT_Commons_Regular.woff);
}
@font-face {
    font-family: Commons_Bold;
    src: url(../fonts/PS_TT_Commons_Bold.woff);
}
@font-face {
    font-family: Commons_ExtraBold;
    src: url(../fonts/PS_TT_Commons_ExtraBold.woff);
}