*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Commons_Regular;
}

.container{
    max-width: 1479px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
main{
    background: #FCDC00;
}
img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
button,
input{
    border: none;
    outline: none;
}
